@model ElectionCampaignManager.Models.Voter

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Voter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birth_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birth_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Family_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Family_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Party_Affiliation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Party_Affiliation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Home_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Home_Address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
