@model ElectionCampaignManager.Models.Donor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Donor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Donor_Tin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donor_Tin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Large_Donor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Large_Donor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
