@model ElectionCampaignManager.Models.VoterCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VoterCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voter.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voter.First_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VoterCategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
